.mago, .patrulheiro, .druida{
    grid-column: 2;
}

.patrulheiro{
    grid-row: 2;
}

.main-classes{
    margin-top: 60px;
}

#classe{
    background-color: brown;
}


.grid{
    
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

.formulario-container{
    max-width: 1200px;
    margin: 0 auto;
    color: aliceblue;
}

.dados-pessoais{
    display: flex;
    flex-direction: column;
    
}
.formulario{
    display: grid;
    grid-template-columns: max-content;
    color: brown;

}


.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px;
    
}

.cor {
    color: #a52727;
}

.lista-ordenada{
    color: aliceblue;
    align-items: center;
    font-size: 24px;
}


.botao-footer{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
}
.botao-footer a{
    padding: 12px;
    border-radius: 12px;
    background-color: #e7e7e7;
    display: block;
    max-width: max-content;
    place-self: center;
    color: black;
    font-weight: 600;
    transition: 0.25s;
}

.botao-footer a:hover{
    background-color: rgb(87, 22, 22);
    color: aliceblue;
}

.botao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
}

.dados-pessoais label{
    margin-bottom: 8px;
    margin-top: 8px;
}
address a{
    color: #e7e7e7;
}
address a:hover{
    color: #500d0d;
}
.botao button{
    padding: 12px 16px;
    background-color: black;
    color: aliceblue;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.botao button:hover{
    background-color: aliceblue;
    color: black;
    
}

.tabela{
    background-color: rgb(68, 68, 68);
}

.texto{
    padding-left: 40px;
    text-align: start;
    color: aliceblue;
    border: 1px solid #c9c9c954;
    border-radius: 6px;
}

@media(max-width:800px){
    .grid{
        padding: 40px;
        grid-template-columns: 1fr;
    }

}